<body>
    {% include 'nav.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    
    <main class="about-content">
        <p class="WhoAreWe">Who Are We? </p>
        <p class="about">This project is a social media username checker built using Flask. It allows users to check the availability of their desired username across multiple social media platforms. The application provides a user-friendly interface where users can input their desired username and select the platforms they want to check against. The backend processes the request and returns the availability status for each selected platform, helping users find a unique and consistent online identity.</p>
        <p class="about credits">Courtesy of
            <a class="person-link" href="https://github.com/ManOfNeptune27" target="_blank" rel="noopener noreferrer">Conner</a>,
            <a class="person-link" href="https://github.com/nateBurnerAccount2026" target="_blank" rel="noopener noreferrer">Nate</a>,
            <a class="person-link" href="https://github.com/EnderHubris" target="_blank" rel="noopener noreferrer">EnderHubris</a>, and
            <a class="person-link" href="https://github.com/AntonioChieffallo" target="_blank" rel="noopener noreferrer">Antonio</a>!
        </p>
    </main>
</body>